<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/scopeDemo/app.js"></script>
</head>
<body ng-app="scopeDemo">
    <div ng-controller="topController">
        <div ng-controller="classController">
            <input type="text" ng-model="name" />
            <button ng-click=sayHello() >CLick me</button>
            <div>{{name}}</div>
        </div>
        <div ng-controller="schoolController">
            <input type="text" ng-model="name" />
            <button ng-click=sayHello() >CLick me</button>
            <div>{{name}}</div>
        </div>
    </div>
</body>
</html>