<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../scripts/angular.js"></script>
    <script src="./script.js"></script>
</head>
<body ng-app="handleEvent">
    <div ng-controller="handleEventController">
        <table>
            <tr>
                <td>Name</td>
                <td>Likes</td>
                <td>Dislikes</td>
                <td>Actions</td>
            </tr>
            <tr ng-repeat="technology in technologies">
                <td> {{technology.Name}} </td>
                <td> {{technology.Likes}} </td>
                <td> {{technology.Dislikes}} </td>
                <td>
                    <button ng-click=increaseLike(technology)>Like</button>
                    <button ng-click=increaseDislike(technology)>Dislikes</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>